@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  width: 1200px;
  background-color: #fff;
}

.page-logo {
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 891px;
  margin: 0 auto;
}

.navigation-list {
  width: 445px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 282px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.header-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157; /*фон для видимости текста*/
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome{
  margin: 0 371px;
}

.slogan-title {
  width: 620px;
  margin: 146px auto 31px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-call {
  width: 655px;
  margin: 0 auto;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  display: flex;
  width: 100%;
  height: 384px;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #82B3D3;
  color:#fff;
}

.advantages-title {
  width: 230px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 92px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-number {
  width: 230px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 30px;
  text-align: center;
}

.advantages-number-black {
  color: #000000;
}

.advantages-discription {
  width: 230px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 30px;
  margin-bottom: 92px;
  text-align: center;
  color: #333333;
}

.advantages-discription-white {
  color: #FFFFFF;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157; /*фон для видимости текста*/
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3; /*фон для видимости текста*/
}

.footer-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.catalog-filter {
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.control-lable {
  color: #FFFFFF;
}

.filter-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3; /*фон для видимости текста*/
}

.filter-button-reset {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent; /*убрал фон для видимости текста*/
 }

 .catalog-title-result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
 }

 .select-control {
  color: #333333;
 }

 .product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
 }

 .product-card-hotel {
  color: #333333;
 }

 .product-card-price {
  text-decoration: none;
  color: #333333;
 }

 .product-card-discription {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157; /*фон для видимости текста*/
 }

 .product-card-favorites-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3; /*фон для видимости текста*/
 }

 .rate-current {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
 }

 .pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3; /*фон для видимости текста*/
 }

 .pagination-link-current {
   color: #000000 ;
 }

 .product-card-amount {
  color: #333333;
 }

 .select-control-amount {
  color: #333333;
 }

 .subscribe-title-inner {
   color: #000000;
 }

 .subscribe-discription-inner {
  color: #333333;
 }
