@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  width: 1200px;
  background-color: #fff;
}

/* Шапка */
.page-logo {
  position: absolute;
  z-index: 1;
}

.navigation {
  position: relative;
  display: flex;
  max-width: 1200px;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 445px;
  margin: 0;
  padding: 0;
  margin-left: 169px;
  list-style-type: none;
}

.navigation-user {
  min-width: 264px;
  margin-left: auto;
}

.navigation-user .navigation-item {
  display: flex;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px 19px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current-index::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 64px;
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.navigation-link-current-inner::before {
  position: absolute;
  content: "";
  top: 64px;
  width: 93px;
  height: 2px;
  background-color: #756257;
}

.navigation-user .navigation-link {
  min-width: 20px;
  padding: 24px 12px;
}

.header-button {
  display: block;
  padding: 9px 15px;
  margin-top: 14px;
  min-width: 130px;
  max-height: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus {
  background-color: #615048;
  outline: none;
}

.header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.header-button:disabled {
  background-color: #E5E5E5;
}

.search-icon {
  display: block;
}

.navigation-item-favorite .navigation-link {
  position: relative;
  background-image: url(../images/icons/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 17px;
  margin-right: 20px;
}

.favorite-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 24px;
  width: 20px;
  height: 20px;
  margin: auto;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #FFF;
}

/* Hero */
.hero {
  margin-bottom: 90px;
}

.welcome {
  position: relative;
  margin: 0 auto 63px;
}

.welcome::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url(../images/divider-index.svg);
}

.welcome img {
  display: block;
}

.slogan-title {
  max-width: 620px;
  margin: 0 auto 31px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-call {
  max-width: 655px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Преимущества */
.advantages {
  margin-bottom: 91px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-images {
  display: flex;
  max-width: 100%;
  min-height: 384px;
}

.advantages-photo img {
  display: block;
}

.advantages-item {
  display: flex;
  width: 400px;
  min-height: 384px;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-wrapper-images {
  background-color: #82B3D3;
  color: #FFF;
}

.house-icon {
  margin-top: 80px;
}

.food-icon {
  margin-top: 81px;
}

.souvenir-icon {
  margin-top: 78px;
}

.advantages-wrapper-opacity-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper-opacity-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  min-width: 230px;
  margin: 0;
  padding: 92px 85px 30px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-top {
  padding-top: 30px;
}

.advantages-title-bottom {
  padding-top: 103px;
}

.advantages-number {
  min-width: 230px;
  margin: 0;
  padding: 0 85px 30px;
  text-align: center;
}

.advantages-number-black {
  color: #000000;
}

.advantages-discription {
  min-width: 230px;
  margin: 0;
  padding: 0 85px 92px;
  text-align: center;
  color: #333333;
}

.advantages-discription-top {
  padding-bottom: 81px;
}

.advantages-discription-bottom {
  padding-bottom: 102px;
}

.advantages-discription-white {
  color: #FFFFFF;
}

/* Поиск отелей */
.search-hotel {
  margin-bottom: 93px;
}

.search-title {
  max-width: 297px;
  margin: 0 auto 29px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-discription {
  max-width: 592px;
  margin: 0 auto 56px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button-wrapper {
  max-width: 574px;
  min-height: 60px;
  margin: 0 auto 93px;
  background-color: #756157;
  border-radius: 4px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.search-button-wrapper:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  outline: none;
}

.search-button-wrapper:active {
  background-color: #756157;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button-wrapper:disabled {
  background-color: #E5E5E5;
}

/* Подписка */
.subscribe {
  min-height: 411px;
  margin-bottom: 40px;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: round;
}

.subscribe-title {
  max-width: 404px;
  margin: 0 auto 29px;
  padding-top: 94px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-discription {
  max-width: 475px;
  margin: 0 auto 46px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

/* Подвал */
.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 70px 30px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 25px;
  height: 18px;
  margin-right: 27px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-link {
  outline: none;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-link:focus svg {
  fill: #68A2CA;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  outline: none;
}

.footer-address-phone:hover,
.footer-address-phone:focus {
  color: #756157;
}

.footer-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-site-logo-link {
  outline: none;
}

.footer-logo {
  fill: #000000;
}

.footer-site-logo-link:focus svg {
  fill: #756157;
}

.footer-logo:hover {
  fill: #756157;
}

.footer-site-logo-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* Фильтр */
.catalog-filter {
  min-height: 403px;
  margin-bottom: 55px;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-filter {
  padding: 35px 70px 70px;
}

.inner-header {
  max-width: 494px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  outline: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link svg {
  fill: #FFF;
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 25px;
}

.breadcrumbs-item:first-child::after {
  position: absolute;
  top: 8px;
  left: 22px;
  content: "";
  width: 6px;
  height: 9px;
  background-image: url(../images/icons/arrow-breadcrumbs.svg);
}

.breadcrumbs-item:not(:first-child):not(:last-child)::after {
  position: absolute;
  top: 8px;
  left: 80px;
  content: "";
  width: 6px;
  height: 9px;
  background-image: url(../images/icons/arrow-breadcrumbs.svg);
}

/* Фильтр форма */
.filter-form {
  display: flex;
  max-width: 1060px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-group-checkbox {
  min-width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-radio {
  min-width: 146px;
  margin-right: 175px
}

.catalog-filter-group-range {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-title-range {
  margin-bottom: 34px;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  width: 161px;
}

.control-label {
  color: #FFFFFF;
}

.filter-button {
  margin-bottom: 20px;
  padding: 14px 15px;
  width: 160px;
  min-height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  outline: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #68A2CA;
}

.filter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button:disabled {
  background-color: #E5E5E5;
}

.filter-button-reset {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  outline: none;
}

.filter-button-reset:hover {
  opacity: 0.8;
}

.filter-button-reset:active {
  opacity: 0.3;
  outline: none;
}

.filter-button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

/* Сортировка */
.catalog-title-result {
  min-width: 338px;
  margin: 0;
  margin-right: 191px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sort-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1060px;
  margin: 0 72px 56px;
}

.select-control {
  padding: 14px 129px 14px 20px;
  min-width: 290px;
  margin-right: 78px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  outline: none;
}

.sort-wrapper svg {
  position: absolute;
  left: 787px;
  width: 12px;
  height: 7px;
  fill: #000000;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select-control:disabled + svg {
  fill: rgba(0, 0, 0, 0.3);
}

.button-sort-wrapper {
  display: flex;
  max-width: 160px;
  margin-right: auto;
}

.button-sort-wrapper a:last-child {
  margin-right: 0;
}

.button-sort {
  display: flex;
  box-sizing: border-box;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  outline: none;
}

.button-sort-table {
  background: url(../images/icons/sort-table.svg) no-repeat 50% 50%;
  border-color: #000000;
}

.button-sort-slideshow {
  background: url(../images/icons/sort-slideshow.svg) no-repeat 50% 50%;
}

.button-sort-list {
  background: url(../images/icons/sort-list.svg) no-repeat 50% 50%;
}

.button-sort:focus {
  border-color: #68A2CA;
}

.button-sort:hover,
.button-sort:active {
  border-color: #000000;
}

/* Каталог */
.product-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  max-width: 1056px;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-bottom: 96px;
  list-style-type: none;
}

.product-list::after {
  position: absolute;
  top: 942px;
  content: "";
  width: 1055px;
  border: 1px solid #E6E6E6;
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 20px;
}

.product-card-link img {
  display: block;
}

.product-card-title {
  margin: 0;
  padding-top: 16px;
  font-size: 24px;
  line-height: 28px;
}

.product-card-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-top: 16px;
}

.product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.product-card-hotel {
  color: #333333;
}

.product-card-price {
  text-decoration: none;
  color: #333333;
}

.product-card-button {
  box-sizing: border-box;
  padding: 9px 15px 8px;
  width: 140px;
  min-height: 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  outline: none;
}

.product-card-button-favorites {
  background-color: #82B3D3;
}

.product-card-button-favorites-current {
  background-color: #7DB54F;
}

.product-card-button:hover,
.product-card-button:focus {
  background-color: #615048;
}

.product-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled {
  background-color: #E5E5E5;
}

.product-card-button-favorites:hover,
.product-card-button-favorites:focus {
  background-color: #68A2CA;
}

.product-card-button-favorites:active {
  background-color: #82B3D3;
}

.product-card-button-favorites-current:hover,
.product-card-button-favorites-current:focus {
  background-color: #6C9E42;
}

.product-card-button-favorites-current:active {
  background-color: #7DB54F;
}

.rate-current {
  grid-column: 2 / 3;
  box-sizing: border-box;
  padding: 9px 22px 8px 23px;
  width: 140px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.stars {
  width: 89px;
  height: 33px;
  background: url(../images/icons/star.svg) space 50% 50%;
}

.stars-three {
  width: 66px;
}

.stars-two {
  width: 42px;
}

/* Пагинация */
.pagination-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1056px;
  margin-left: 73px;
  margin-bottom: 25px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 400px;
  list-style-type: none;
}

.pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item-current {
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-link:not(span):hover,
.pagination-link:not(span):focus {
  background-color: #68A2CA;
}

.pagination-link:not(span):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 4px;
  outline: none;
}

.product-card-amount {
  margin-left: 270px;
  color: #333333;
}

.select-control-amount {
  box-sizing: border-box;
  padding: 14px 130px 14px 20px;
  min-width: 160px;
  max-height: 49px;
  margin-left: auto;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  appearance: none;
  outline: none;
}

.pagination-wrapper svg {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 12px;
  height: 7px;
  fill: #000000;
}

.select-control-amount:hover,
.select-control-amount:focus {
  border: 2px solid #68A2CA;
}

.select-control-amount:active {
  border: 2px solid #3F5E72;
}

.select-control-amount:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select-control-amount:disabled + svg {
  fill: rgba(0, 0, 0, 0.3);
}

.pagination-link-current {
  color: #000000;
}

/* Подписка inner */
.subscribe-inner {
  background-image: none;
}

.subscribe-title-inner {
  color: #000000;
}

.subscribe-discription-inner {
  color: #333333;
}
